/* Normalize CSS */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Global Styles */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem; /* Add margin to create space for header */
}

a {
  color: #fff;
  text-decoration: none;
}

/* Header Styles */
header {
  background-color: #00293c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header .logo {
  font-size: 2rem;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li:not(:last-child) {
  margin-right: 2rem;
}

nav a {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

nav a:hover {
  background-color: #fff;
  color: #00293c;
}

/* Hero Section Styles */
.hero {
  background-color: #00293c;
  color: #fff;
  padding: 5rem;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.hero p {
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 60%;
  margin: 0 auto;
}

/* Projects Section Styles */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5rem;
  background-color: #fff;
  color: #00293c;
}

.project {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 30%;
  margin-bottom: 3rem;
  transition: box-shadow 0.2s ease-in-out;
}

.project:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.project h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.project p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.project a {
  background-color: #00293c;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.project a:hover {
  background-color: #fff;
  color: #00293c;
}

/* Footer Styles */
footer {
  background-color: #00293c;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

footer p {
  margin: 0;
}

/* Media Queries */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 8rem;
  }

  header .logo {
    margin-bottom: 1rem;
  }

  nav {
    margin-top: 1rem;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  main {
    margin-top: 8rem; /* Add margin to create space for header */
  }

  .hero {
    padding: 3rem;
  }

  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .hero p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .projects {
    padding: 3rem;
  }

  .project {
    width: 45%;
    margin-bottom: 2rem;
  }
}